@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.avatar-image {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  margin-left: 80,
}
.head {
    font-family: 'Montserrat', sans-serif;
    color: #E1E3FF;
    font-size: 35px;
}
.name {
    margin-top: 10px;
}
.calebhan {
  color: #FFD700;
  animation: "glowing 2s infinite";
  font-size: 75px
}
.stacked {
  display: "flex";
  align-items: center;
  justify-content: center;
  align-self: center;
}
.arrow-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes typing {
    from { width: 0; }
  }
  
  #typing-effect {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(30, end);
  }
  
  #text {
    display: inline-block;
  }
  .parallax-container {
    position: relative;
    height: 400px; /* Adjust as needed */
    overflow: hidden;
  }
  
  parallaxLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
  }
  
  .parallax-layer-1 {
    background-color: #ff0000; /* Replace with your desired background color */
    z-index: 2; /* Adjust z-index to control the overlapping order */
  }
  
  .parallax-layer-2 {
    background-color: #00ff00; /* Replace with your desired background color */
    z-index: 1;
  }
  .top-navbar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
    background-color: rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(15px);
  }
  
  .top-navbar text {
    margin-right: 20px;
    font-size: 16px;
    color: #f0f0f0;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
  }
  /* Mobile Styles */
@media (max-width: 768px) {
  /* .avatar-image {
    width: 40%;
    height: 40%;
    margin-bottom: 10px;
    align-self: center;
  } */
  .calebhan {
    font-size: 40px;
  }
  .stacked {
    display: "flex";
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column-reverse;
  }
  
  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head {
    font-size: 24px; /* Adjust the font size for mobile */
    text-align: center;
  }

  .name {
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
  }

  .arrow-down {
    font-size: 24px;
    text-align: center;
  }
  .avatar-image {
    width: 40%;
    height: 40%;
  }

  .head {
    font-size: 24px;
  }

  .name {
    margin-top: 5px;
  }

  .arrow-down {
    font-size: 24px;
  }
}
